.container {
    padding-left: 200px;
    padding-right: 200px;
}

header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}