body {
    margin: 0px;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
}

header,
summary {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.summary-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 500px;
}

.summary-left h1,
.summary-left p,
.summary-left button {
    margin: 0;
}

.summary-left h1 {
    font-size: 40px;
}

.summary-left p {
    font-size: 20px;
}

.summary-left button {
    width:fit-content;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    color: white;
    background-color:#3882F6;
    outline: none;
    border: none;
}

summary img {
    width: 400px;
    height: auto;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
    padding-top: 50px;
    padding-bottom: 100px;
}

article h3 {
    font-size: 30px;
}

article img {
    width: 200px;
    height:200px;
    object-fit: cover;
    border-radius: 10px;
}

.movie-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 750px;
    margin-top: 100px;
    margin-bottom: 100px;
}

section .quote {
    font-weight: lighter;
    font-size: 30px;
    font-style: italic;
}

section .socrates {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
}

.updates {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content:space-between;
    align-items: center;
    background-color: #3882F6;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.updates .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.updates h4,
.updates p {
    margin: 0;
}

.updates h4 {
    font-size: 28px;
}

.updates p {
    font-size: 20px;
}

.updates button {
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    color: white;
    background-color: #3882F6;
    outline-color: white;
    outline-width: 5px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer p {
    margin: 0px;
}