.container {
    font-family: Arial, Helvetica, sans-serif;
}

header,
summary {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.summary-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 500px;
}

.summary-left h1,
.summary-left p,
.summary-left button {
    margin: 0;
}

.summary-left h1 {
    font-size: 40px;
}

.summary-left p {
    font-size: 20px;
}

.summary-left button {
    width:fit-content;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color:#3882F6;
    outline: none;
    border: none;
}

summary img {
    width: 400px;
    height: auto;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
    margin-top: 50px;
    margin-bottom: 100px;
}

article h3 {
    font-size: 30px;
}

article img {
    width: 200px;
    height:200px;
    object-fit: cover;
    border-radius: 10px;
}

.movie-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 750px;
}

section .quote {
    font-weight: lighter;
    font-size: 30px;
    font-style: italic;
}

section .socrates {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
}

